body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  margin: 20px 0;
  font-size: 24px;
}

.toolbar {
  background-color: #69ff37;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toolbar img {
  width: 24px;
  height: 24px;
}

.toolbar label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
}

.toolbar input[type="color"] {
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

#editor:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
  font-style: italic;
  pointer-events: none;
  display: block;
}

